<div class="full-page">
  <div class="page-title">News Stories</div>
  <div class="help-hint">{{coreService.news.length ? 'Your News Stories:' : 'Use Chat to Search News Stories'}}</div>

  <div class="news-stories" >

    <div class="story" *ngFor="let story of coreService.news">
      <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                {{story.title}}
              </mat-panel-title>
              <!-- <mat-panel-description>
                {{story.description}}
              </mat-panel-description> -->
            </mat-expansion-panel-header>
            <div class="extra-info">
              <div><span class="label">Author: </span>{{story.author}}</div>
              <div><span class="label">Original Story: </span><a [href]="story.url">{{story.url}}</a></div>
              <img [src]="story.urlToImage">
            </div>
            {{story.content}}
          </mat-expansion-panel>
        </mat-accordion>
    </div>
  </div>
  </div>

<app-lex-chat-bot></app-lex-chat-bot>

